force-app/main/default/flows/Booking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>alert</name>
        <label>alert</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <actionName>Booking__c.Booking_Create_a_Booking_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_a_Booking</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>ID te uzete sobe dodaje u varijblu koja je lista Text vrednosti, koje su IDjevi zauzetih soba, tj soba iz overlaping bukinga</description>
        <name>Add_Room_ID_to_the_Unavailable_Rooms</name>
        <label>Add Room ID to the Unavailable Rooms</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>IDs_of_UNAVAILABLE_Rooms</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GET_UNAVAILABLE_Room.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_thru_overlaping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RoomID</name>
        <label>Assign RoomID</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>RoomId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pick_your_room</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_Booking</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Checkindate</name>
        <dataType>Date</dataType>
        <value>
            <dateValue>2023-05-22</dateValue>
        </value>
    </constants>
    <constants>
        <name>Checkoutdate</name>
        <dataType>Date</dataType>
        <value>
            <dateValue>2023-05-24</dateValue>
        </value>
    </constants>
    <decisions>
        <name>Are_there_overlaping_Bookings</name>
        <label>Are there overlaping Bookings?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Room_choice2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No overlaping Bookings</defaultConnectorLabel>
        <rules>
            <name>overlaping_bookings_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_overlaping_bookings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_thru_overlaping</targetReference>
            </connector>
            <label>overlaping bookings found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Choice set koji je prosledjen screen komponenti, a napravljen od slobodnih soba izvucenih iz baze</description>
        <name>Available_Rooms_Choice_Set</name>
        <collectionReference>Get_AVAILABLE_Rooms</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Room__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Hotelchoiceset</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Hotel</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Hotelid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Rooms_CHoice_set</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hotel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hotelid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Max_Availability__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Number_of_guests</elementReference>
            </value>
        </filters>
        <object>Room__c</object>
        <outputAssignments>
            <assignToReference>RoomId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Booking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking- create a Booking FLow</label>
    <loops>
        <name>Go_thru_overlaping</name>
        <label>Go thru overlaping Bookings</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>GET_overlaping_bookings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GET_UNAVAILABLE_Room</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_AVAILABLE_Rooms</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Booking</name>
        <label>Create a Booking</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Check_in__c</field>
            <value>
                <elementReference>Check_in_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_out__c</field>
            <value>
                <elementReference>Checkoutdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_guests__c</field>
            <value>
                <elementReference>Number_of_guests</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rooms__c</field>
            <value>
                <elementReference>RoomId</elementReference>
            </value>
        </inputAssignments>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Uzima sobe, ciji se ID ne poklapa sa onim IDjevima iz kolekcije zauzetih soba, znaci uzima samo slobodne sobe</description>
        <name>Get_AVAILABLE_Rooms</name>
        <label>Get AVAILABLE Rooms</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Room_choice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>IDs_of_UNAVAILABLE_Rooms</elementReference>
            </value>
        </filters>
        <filters>
            <field>Hotel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hotelid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Max_Availability__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Number_of_guests</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Room__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>uzima bukinge koji se preklapau sa ovim unetim datumima</description>
        <name>GET_overlaping_bookings</name>
        <label>Get overlaping bookings</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_overlaping_Bookings</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</filterLogic>
        <filters>
            <field>Check_in__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Check_in_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Check_out__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>check_out_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Check_in__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Check_in_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Check_out__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Check_in_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Check_in__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>check_out_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Check_out__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>check_out_date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>uzima SOBU (Only the first record) tog bukinga na kom se nalazi petlja, jer znamo da ima samo jedna soba za taj jedan buking</description>
        <name>GET_UNAVAILABLE_Room</name>
        <label>GET UNAVAILABLE Room</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Room_ID_to_the_Unavailable_Rooms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Go_thru_overlaping.Rooms__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Room__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Create your booking</description>
        <name>Booking_creation</name>
        <label>Booking creation</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GET_overlaping_bookings</targetReference>
        </connector>
        <fields>
            <name>Choose_your_hotel</name>
            <choiceReferences>Hotelchoiceset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose your hotel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Check_in_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Checkindate</elementReference>
            </defaultValue>
            <fieldText>Check in date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(176, 17, 17);&quot;&gt;Booking must last at least a day and cant be booked in the past!&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!check_out_date}-{!Check_in_date}&gt;1, {!Check_in_date}&gt;TODAY())</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>check_out_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Checkoutdate</elementReference>
            </defaultValue>
            <fieldText>Check out date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(224, 21, 21); background-color: rgb(255, 255, 255);&quot;&gt;Check in date can&apos;t be afte﻿r check out date!!!&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!check_out_date}&gt;={!Check_in_date}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Number_of_guests</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>3.0</numberValue>
            </defaultValue>
            <fieldText>Number of guests</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Room_choice</name>
        <label>Room choice</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_RoomID</targetReference>
        </connector>
        <fields>
            <name>Pick_your_room</name>
            <choiceReferences>Available_Rooms_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick your room:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Room_choice2</name>
        <label>Room choice2</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_a_Booking</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Pick_your_room</name>
            <choiceReferences>Rooms_CHoice_set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick your room2:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Booking_creation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Hotelid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDs_of_UNAVAILABLE_Rooms</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RoomId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
