force-app/main/default/flows/Create_Repair_Case_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Alert_the_Contact_about_the_cancelation</name>
        <label>Alert the Contact about the cancelation</label>
        <locationX>138</locationX>
        <locationY>1214</locationY>
        <actionName>Booking__c.Booking_Cancelated</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assign_the_next_3days_bookings</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loot_thru_next_3_days_bookings.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Alert_the_Contact_about_the_cancelation2</name>
        <label>Alert the Contact about the cancelation</label>
        <locationX>490</locationX>
        <locationY>1214</locationY>
        <actionName>Booking__c.Booking_Cancelated</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assign_the_next_5days_bookings</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_thru_the_next_5_days_bookings.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Alert_the_contact_about_the_cancelation3</name>
        <label>Alert the contact about the cancelation</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <actionName>Booking__c.Booking_Cancelated</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assign_the_next_7_days_bookings</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_thru_the_next_7_days_bokigns.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Create_a_new_Booking</name>
        <label>Create a new Booking</label>
        <locationX>490</locationX>
        <locationY>1106</locationY>
        <actionName>BookingCreator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Alert_the_Contact_about_the_cancelation2</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>CheckInDate</name>
            <value>
                <elementReference>Loot_thru_next_3_days_bookings.Check_in__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CheckOutDate</name>
            <value>
                <elementReference>Loot_thru_next_3_days_bookings.Check_out__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Contact</name>
            <value>
                <elementReference>Loot_thru_next_3_days_bookings.Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumberOfGuests</name>
            <value>
                <elementReference>Loot_thru_next_3_days_bookings.Number_of_guests__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Room</name>
            <value>
                <elementReference>Copy_1_of_Get_another_Room.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Create_a_new_Booking</name>
        <label>Create a new Booking</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <actionName>BookingCreator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Alert_the_contact_about_the_cancelation3</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>CheckInDate</name>
            <value>
                <elementReference>Loot_thru_next_3_days_bookings.Check_in__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CheckOutDate</name>
            <value>
                <elementReference>Loot_thru_next_3_days_bookings.Check_out__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Contact</name>
            <value>
                <elementReference>Loot_thru_next_3_days_bookings.Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumberOfGuests</name>
            <value>
                <elementReference>Loot_thru_next_3_days_bookings.Number_of_guests__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Room</name>
            <value>
                <elementReference>Copy_2_of_Get_another_Room.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_a_new_Booking</name>
        <label>Create a new Booking</label>
        <locationX>138</locationX>
        <locationY>1106</locationY>
        <actionName>BookingCreator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Alert_the_Contact_about_the_cancelation</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>CheckInDate</name>
            <value>
                <elementReference>Loot_thru_next_3_days_bookings.Check_in__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CheckOutDate</name>
            <value>
                <elementReference>Loot_thru_next_3_days_bookings.Check_out__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Contact</name>
            <value>
                <elementReference>Loot_thru_next_3_days_bookings.Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NumberOfGuests</name>
            <value>
                <elementReference>Loot_thru_next_3_days_bookings.Number_of_guests__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Room</name>
            <value>
                <elementReference>Get_another_Room.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_the_next_3days_bookings</name>
        <label>Assign the next 3days bookings</label>
        <locationX>138</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>bookingsoBeDel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>The_next_3_days_Bookings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loot_thru_next_3_days_bookings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_next_5days_bookings</name>
        <label>Assign the next  5days bookings</label>
        <locationX>490</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>bookingsoBeDel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_the_next_5_days_bookings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_the_next_5_days_bookings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_next_7_days_bookings</name>
        <label>Assign the next  7 days bookings</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>bookingsoBeDel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_the_next_7_days_bokigns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_the_next_7_days_bokigns</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>The_next_3_days_Bookings</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>The next 3 days Bookings</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_The_next_3_days_Bookings</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Bookings_to_be_deleted</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_The_next_3_days_Bookings.Check_in__c</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <elementReference>TheNext3days</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loot_thru_next_3_days_bookings</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>The_next_5_days_Bookings</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>The next 5 days Bookings</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_The_next_5_days_Bookings</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Bookings_to_be_deleted</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_The_next_5_days_Bookings.Check_in__c</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <elementReference>TheNext5Days</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_thru_the_next_5_days_bookings</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>The_next_7_days_Bookings</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>The next 7 days Bookings</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_The_next_7_days_Bookings</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Bookings_to_be_deleted</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_The_next_7_days_Bookings.Check_in__c</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <elementReference>TheNext7Days</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_thru_the_next_7_days_bokigns</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Booking_Deletion</name>
        <label>Booking Deletion</label>
        <locationX>534</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>the list is empty</defaultConnectorLabel>
        <rules>
            <name>Delete_the_next_3_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Failure_Condition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Bookings_to_be_deleted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>The_next_3_days_Bookings</targetReference>
            </connector>
            <label>Delete the next 3 days</label>
        </rules>
        <rules>
            <name>Delete_the_next_5_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Failure_Condition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Serious Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Bookings_to_be_deleted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>The_next_5_days_Bookings</targetReference>
            </connector>
            <label>Delete the next 5 days</label>
        </rules>
        <rules>
            <name>Delete_the_next_7_dayss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bookings_to_be_deleted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fauilure_Condition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Urgen Repair Failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>The_next_7_days_Bookings</targetReference>
            </connector>
            <label>Delete the next 7 days</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Fauilure_Condition</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Failure_condition__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Repair_type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Repair_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>TheNext3days</name>
        <dataType>Date</dataType>
        <expression>{!Todaysdate}+3</expression>
    </formulas>
    <formulas>
        <name>TheNext5Days</name>
        <dataType>Date</dataType>
        <expression>{!Todaysdate}+5</expression>
    </formulas>
    <formulas>
        <name>TheNext7Days</name>
        <dataType>Date</dataType>
        <expression>{!Todaysdate}+7</expression>
    </formulas>
    <interviewLabel>Create Repair Case Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case-Create a repair Case</label>
    <loops>
        <name>Loop_thru_the_next_5_days_bookings</name>
        <label>Loop thru the next 5 days bookings</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <collectionReference>Bookings_to_be_deleted</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Get_another_Room</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_bookings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_the_next_7_days_bokigns</name>
        <label>Loop thru the next 7 days bokigns</label>
        <locationX>754</locationX>
        <locationY>890</locationY>
        <collectionReference>Bookings_to_be_deleted</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_Get_another_Room</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_bookings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loot_thru_next_3_days_bookings</name>
        <label>Loot thru next 3 days bookings</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <collectionReference>Bookings_to_be_deleted</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_another_Room</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_bookings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_repair_Case</name>
        <label>Create repair Case</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Bookings_to_be_deleted</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Suitable_Repairer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Failure_condition__c</field>
            <value>
                <elementReference>Fauilure_Condition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repair_Type__c</field>
            <value>
                <elementReference>Repair_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_bookings</name>
        <label>Delete bookings</label>
        <locationX>534</locationX>
        <locationY>1598</locationY>
        <inputReference>bookingsoBeDel</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Bookings_to_be_deleted</name>
        <label>Bookings to be deleted</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Room_To_Unavailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rooms__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Check_in__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Todaysdate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Check_in__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TheNext7Days</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_another_Room</name>
        <label>Get another Room</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Create_a_new_Booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hotel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_thru_the_next_5_days_bookings.Rooms__r.Hotel__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Max_Availability__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Loop_thru_the_next_5_days_bookings.Number_of_guests__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Room__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_another_Room</name>
        <label>Get another Room</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Create_a_new_Booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hotel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_thru_the_next_7_days_bokigns.Rooms__r.Hotel__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Max_Availability__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Loop_thru_the_next_7_days_bokigns.Number_of_guests__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Room__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_another_Room</name>
        <label>Get another Room</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_new_Booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hotel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loot_thru_next_3_days_bookings.Rooms__r.Hotel__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Max_Availability__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Loot_thru_next_3_days_bookings.Number_of_guests__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Room__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Suitable_Repairer</name>
        <label>Get Suitable Repairer</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_repair_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Repair_Type_Speciality__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Repair_type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Room_To_Unavailable</name>
        <label>Set Room To Unavailable</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Booking_Deletion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not available</stringValue>
            </value>
        </inputAssignments>
        <object>Room__c</object>
    </recordUpdates>
    <screens>
        <name>Create_a_Repair_Case</name>
        <label>Create a Repair Case</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Suitable_Repairer</targetReference>
        </connector>
        <fields>
            <name>Choose_A_Repair_Type</name>
            <choiceReferences>Repair_type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose A Repair Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Choose_Failure_Condition</name>
            <choiceReferences>Fauilure_Condition</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Failure Condition</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_a_Repair_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bookingsoBeDel</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>Check_in_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Check_out_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contach_from_Booking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_The_next_3_days_Bookings</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>currentItem_The_next_5_days_Bookings</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>currentItem_The_next_7_days_Bookings</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>Num_of_guests</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Todaysdate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
