force-app/main/default/flows/Housekeeping_request_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Housekeeping request flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Housekeeping request flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_requested_housekeeping</name>
        <label>Create requested housekeeping</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>Booking__c</field>
            <value>
                <elementReference>Get_Booking.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cleaning_Lady__c</field>
            <value>
                <elementReference>Get_CLeaning_Lady.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Housekeeping_Date__c</field>
            <value>
                <elementReference>Choose_your_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room__c</field>
            <value>
                <elementReference>Get_Booking.Rooms__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </inputAssignments>
        <object>Housekeeping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Booking</name>
        <label>Get Booking</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Request_Room_cleaning</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CLeaning_Lady</name>
        <label>Get CLeaning Lady</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_requested_housekeeping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Booking.Rooms__r.Hotel__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Housekeeper</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Request_Room_cleaning</name>
        <label>Request Room cleaning</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_CLeaning_Lady</targetReference>
        </connector>
        <fields>
            <name>Choose_your_date</name>
            <dataType>Date</dataType>
            <fieldText>Choose your date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 82, 82);&quot;&gt;This date is not in your booking days!&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!Choose_your_date}&gt;{!Get_Booking.Check_in__c}, {!Choose_your_date}&lt;{!Get_Booking.Check_out__c})</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Booking</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Current_Booking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>HotelID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
