force-app/main/default/flows/Room_status_update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Available_Room</name>
        <label>Available Room</label>
        <locationX>914</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>RoomStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Available_status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Room_Record_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Occupied_Room</name>
        <label>Occupied Room</label>
        <locationX>663</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>RoomStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Occupied_status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Room_Record_Update</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>A room status when the room is available and booking is not active</description>
        <name>Available_status</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Available</stringValue>
        </value>
    </constants>
    <constants>
        <description>a constants for room status-Occupied</description>
        <name>Occupied_status</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Occupied</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Booking_active</name>
        <label>Is Booking active?</label>
        <locationX>776</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>active_Booking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Active_booking__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Occupied_Room</targetReference>
            </connector>
            <label>active Booking</label>
        </rules>
        <rules>
            <name>non_active_Booking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Active_booking__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Available_Room</targetReference>
            </connector>
            <label>non-active Booking</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Room status update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Room status update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Room_Record_Update</name>
        <label>Room Record Update</label>
        <locationX>791</locationX>
        <locationY>662</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Rooms__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>RoomStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Room__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Is_Booking_active</targetReference>
        </connector>
        <object>Booking__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RoomStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
